/* div calculadora */
/* tela de input */
.container-fluid {
    max-width: 36vw;
    /* height: 90vh; */
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    /* box-shadow: 10px 10px 8px #888888; */
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #DCDCDC;
    margin-bottom: 40px;
}

#marca-calc {
    margin-top: 10px;
    width: 13em;
    height: 2.5em;
}
/* fim tela de input */

/* tela de input */
.div-input {
    background-color: #DCDCDC;
    border: 2px solid #fff;
    margin: 10px 5px 0px 5px;
    border-radius: 20px;
}

#tela {
    margin: 10px;
    border-radius: 20px;
    background-color: #fff;
}

.heading-input {
    margin-left: 20px;
}

.inputdigita {
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    height: 80px;
    padding: 0 20px 25px 0;
    text-align: right;
    font-size: 60px;
    outline: none;
}
/* fim tela de input */

/* botoes */
.botoes {
    border: 2px solid #fff;
    margin: 30px 5px;
    border-radius: 20px;
    background-color: #DCDCDC;
    padding: 20px;
}

.btn {
    height: 40px;
    border-radius: 25px !important;
}

button {
    color: #000;
    font-weight: 500;
}

#btn-apagar {
    color: #f6f6f6;
    border-radius: 50% !important;
    box-shadow: 0 5px 0 #db7070;
    background-color: #F08080;
}

.calc-button {
    margin: 15px 5px;
}

.btn-selecionar {
    box-shadow: 0 5px 0 #9b9898;
    background-color: #fff;
    margin: 15px 5px;
}

.select-button:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

#local {
    color: #f6f6f6;
    font-weight: 500;
    /* overflow: auto;
    white-space: normal;
    word-wrap: break-word; */
}

.btn-mostrar  {
    color: #f6f6f6;
    box-shadow: 0 5px 0 #34648b;
    background-color: #4682B4;
}

select {
    margin-top: 30px !important;
    color: #000;
    font-weight: 500;
    text-align: center; /* para firefox */
    text-align-last: center; /* para chrome */
}

.heading {
    color: #000;
    font-weight: 500;
    font-size: 13px;
    margin-top: 5px;
    position: absolute;
    z-index: 1;
    left: 35%;
}

.texto {
    height: auto;
}
/* fim botoes */

/* media-queries */
@media only screen and (max-width: 1200px) {
    .container-fluid {
        max-width: 50vw;
    }

    #marca-calc {
        width: 10em;
        height: 2em;
    }

    img {
        width: 30vw;
        height: 30vh;
    }

    .heading {
        left: 29%;
    }
}

@media only screen and (max-width: 1060px) {
    .container-fluid {
        max-width: 50vw;
    }

    #btn-consumo,
    #btn-reais {
        font-size: 14px;
    }
}

@media only screen and (max-width: 900px) {
    .container-fluid {
        max-width: 60vw;
    }

    .inputdigita {
        font-size: 3em;
    }

    .heading {
        left: 26%;
    }
}

@media only screen and (max-width: 770px) {
    .container-fluid {
        max-width: 60vw;
    }

    img {
        width: 40vw;
        height: 40vh;
    }

    .inputdigita {
        font-size: 2em;
    }

    #btn-consumo,
    #btn-reais {
        font-size: 12px;
    }
}

@media only screen and (max-width: 650px) {
    .container-fluid {
        max-width: 70vw;
    }

    .heading {
        left: 23%;
    }
}

@media only screen and (max-width: 500px) {
    .container-fluid {
        max-width: 90vw;
    }

    img {
        width: 50vw;
        height: 50vh;
    }

    #btn-consumo,
    #btn-reais {
        font-size: 10px;
    }

    .heading {
        left: 15%;
    }
}