<!-- Cards Produtos -->
<div [hidden]="!pronto" id="containerKits">
    <div class="card" *ngFor="let produto of produtos" (click)="precoGeradorCards(produto.precoeup)">
        <img [src]="produto.foto" class="card-img-top img-responsive" alt="Imagem do Produto">
        <div class="card-body">
            <p class="cards" id="codigo">Código: {{produto.codigo}}</p>
            <p class="cards" id="categoria">
                {{produto.categoria}} {{produto.marca}} ({{produto.codigo}})
            </p>
            <p class="cards" id="descricao">{{produto.descricao}}</p>
            <span class="cards" id="preco">R$ {{produto.precoeup}}</span>
        </div>
    </div>
</div>