<!-- Cards Produtos -->
<!-- <div [hidden]="!carregando" id="containerKits">
    <div class="card">
        <img src="{{top.foto}}" class="card-img-top img-responsive" alt="Imagem do Produto">
        <div class="card-body">
            <p class="cards" id="codigo">Código: {{top.codigo}}</p>
            <p class="cards" id="categoria">
                {{top.categoria}} {{top.marca}} ({{top.codigo}})
            </p>
            <p class="cards" id="descricao">{{top.descricao}}</p>
            <span class="cards" id="preco">R$ {{top.precoeup}}</span>
        </div>
    </div>
</div> -->